.categories {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  margin-bottom: 1rem;
}
.searchProduct {
  border: none;
  outline: none;
  background: #f1f5f8;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}
.category__title {
  color: #102a42;
  margin-bottom: 0.5rem;
}
.category {
  color: #102a42d7;
  cursor: pointer;
  width: max-content;
}
.clear__filter {
  background: #bb2525;
  color: #fff;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  transition: 0.3s;
}
.clear__filter:hover {
  background: #bb2525d7;
}
.products__container {
  display: grid;
}
.productList__container {
  flex: 1;
  margin: 3rem 0;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.product {
  width: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.123);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .productImg{
  height: auto;
}
.productName,
.product__price {
  font-weight: 500;
}
.product_detail {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding-left: 1rem;
  padding: 0.5rem;
}
.sort__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    align-items: center;
    column-gap: 3rem;
    margin-top: 2rem;
}
.line{
    display: block;
    flex: 1;
    height: 1px;
    background: rgba(128, 128, 128, 0.301);
}
select{
    border: none;
    outline: none;
    background: #102a4215;
    padding: .5rem;
}
.sort__container label{
    margin-right: 1rem;
}
.currentCat{
  border-bottom: 1px solid #102a42;
}
@media screen and (min-width: 768px) {
  .products__container {
    grid-template-columns: 200px 1fr;
    column-gap: 3rem;
  }
  .productList__container {
    margin: 0;
    grid-template-columns: repeat(2,1fr);
  }
  .productsListFilter {
    position: sticky;
    top: 9rem;
    height: max-content;
    overflow: hidden;
  }
  .sort__container{
    margin-top: 0;
  }
}
@media screen and (min-width:992px) {
    .product .item__img{
        flex: 1;
    }
    
}
@media screen and (max-width:528px) {
    .sort__container{
        flex-direction: column;
        align-items: flex-start;
        row-gap: .5rem;
    }
    
}
@media screen and (min-width:1170px) {
  .productList__container {
    grid-template-columns: repeat(3,1fr);
  }
}